.app,
.display,
.buttonpannel {
  width: 700px;
  display: flex;
  flex-direction: column;
  margin-left: 20%;

}

.display {
  margin-right: 100px;
  background-color: gray;
  height: 100px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-style: bold;
  text-align: right;
  padding-right: 5%;
  padding-top: 3%;
}

.buttonpannel div
{
  height: 100px;
}

.button{
width: 25%;
height: 100px;
text-align: center;
color: black;
border: 1;
}
.color1
{
  background-color: orange;
}
.white
{
  background-color: white;
}

.wide
{
  width: 50%;
}
